@model Game

@{
    ViewData["Title"] = "Delete game";

    // Determine team names based on the count of Teams
    string team1 = Model.Teams.Count > 0 ? Model.Teams.ElementAt(0).Name : "TBD";
    string team2 = Model.Teams.Count > 1 ? Model.Teams.ElementAt(1).Name : "TBD";
}

<h4>Are you sure you want to delete?</h4>
<p>
    @team1 Vs. @team2 On @Model.GameDateTime.ToString("d")<br />
</p>

<form asp-controller="Game" asp-action="HandleDeleteRequest" asp-route-id="@Model.GameId" method="post" enctype="application/x-www-form-urlencoded">
    <div class="text-danger" asp-validation-summary="All"></div>

    <input type="hidden" asp-for="GameId" />

    <button type="submit" class="btn btn-primary">Delete</button>
    <a asp-controller="Tournament" asp-action="GetManageForm" asp-route-id="@Model.TournamentId" class="btn btn-secondary">Cancel</a>
</form>
