@model GameViewModel

@{
    ViewData["Title"] = "Edit game";
}

<form asp-controller="Game" asp-action="HandleEditRequest" asp-route-id="@Model.ActiveGame.GameId" method="post" enctype="application/x-www-form-urlencoded">
    <div class="text-danger" asp-validation-summary="All"></div>

    <div class="form-group">
        <label asp-for="ActiveGame.GameDateTime">Game Date & Time:</label>
        <input type="datetime" asp-for="ActiveGame.GameDateTime" class="form-control" value="@Model.ActiveGame.GameDateTime.ToString("d")" />
    </div>

    <div class="form-group">
        <label asp-for="ActiveGame.Teams.First().Name">Team 1 Name:</label>
        <input type="text" asp-for="ActiveGame.Teams.First().Name" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="ActiveGame.Teams.Last().Name">Team 2 Name:</label>
        <input type="text" asp-for="ActiveGame.Teams.Last().Name" class="form-control" />
    </div>

    <input type="hidden" asp-for="ActiveGame.GameId" />

    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-controller="Tournament" asp-action="GetManageForm" asp-route-id="@Model.ActiveGame.TournamentId" class="btn btn-secondary">Cancel</a>
</form>